{% extends "base.html.twig" %}
{% block css %}
    <link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}
{% block body %}
    <div id="noteArea">
        <div id="title">THE ULTIMATE NOTE</div>
        <textarea></textarea>
    </div>
{% endblock %}